.nadpis {
  color : blue;
  font-size : 200%;
  border: 1px solid blue; padding-top: 0.3em; color: #F00;
  text-align : center;
}

#main_image{
	position: relative;
    width: 100px;
    height: 100px;
    background: blue;
}
#overlay_image{
    position: absolute;
	left: 20px;
    bottom: 100px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: red;
}
#A{
		position: absolute;
		left: 500px;
		top: 850px;
		width: auto;
		height: auto;
}
#B{
		position: absolute;
		left: 15px;
		top: 630px;
		width: auto;
		height: auto;
}
#C{
		position: absolute;
		left: 15px;
		top: 630px;
		width: auto;
		height: auto;
		display: none;
}
#D{
		position: absolute;
		left: 15px;
		top: 630px;
		width: auto;
		height: auto;
		display: none;
}

