.nadpis {
	font-family: sans-serif;
  font-size : 100%; 
  padding-top: 1em;
  color: black;
  text-align : center;
}

body {
	margin: 0px;
}
.one {
	background-color: #7ee875; 
}
.two{
	background-color: #4bd740;
}
.project{
	
}
.text_cont{
	font-size: 0.75em;
	margin-top: 1.5em;
	margin-left: 8em;
	margin-right: 8em;
	padding-bottom: 3em;
}
.contact{
	margin-top: 2.5em;
	font-size: 0.6em;
	text-align: center;
	
}
.nametag{
	font-size: 0.5em;
	margin-left: 3em;
	padding-bottom: 1em;
}

#main_image{
	position: relative;
    width: 100px;
    height: 100px;
    background: blue;
}
#overlay_image{
    position: absolute;
	left: 20px;
    bottom: 100px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: red;
}
#A{
		position: absolute;
		left: 500px;
		top: 850px;
		width: auto;
		height: auto;
}
#B{
		position: absolute;
		left: 15px;
		top: 630px;
		width: auto;
		height: auto;
}
#C{
		position: absolute;
		left: 15px;
		top: 630px;
		width: auto;
		height: auto;
		display: none;
}
#D{
		position: absolute;
		left: 15px;
		top: 630px;
		width: auto;
		height: auto;
		display: none;
}

